<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
            margin-top: 5px;
        }
        .panelList {
            text-align: center;
            font-family: fantasy;
            font-style: normal;
            padding-top: 100px;
            padding-left: 400px;
            padding-right: 400px;
        }
    </style>
</head>
<body>
    <h1>NodeJS Express CRUD App with PostgreSQL</h1>
    <div class="container">
        <div class="panel panel-default panelList">
            <h4>Show List</h4>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <a href="/api/department">Department</a>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        <a href="/api/employee">Employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>